/* :root {
  --background-colour: #232914;
  --main-colour: #46b975;
  --test-colour: #63fded;
} */

:root {
  --background-colour: #14170e;
  --main-colour: #6df2d1;
  /* --second-colour: #548687; */
  /* --second-colour: #654F6F; */
  --second-colour: #242919;
  --test-colour: #63fded;
}

@font-face {
  font-family: 'Robot';
  src: url("../font/robot.woff2") format('woff2');
}

* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--background-colour);
}

p {
  color: var(--main-colour);
}

h1 {
  font-family: 'Robot';
  font-weight: 48;
  color: var(--main-colour);
}

h2 {
  font-family: 'Robot';
  color: var(--main-colour);
}

h3 {
  font-family: 'Robot';
  color: var(--main-colour);
}

input[type=text] {
  background-color: var(--second-colour);
  color: var(--main-colour);
  padding: 0.5rem;
  border: solid 1px var(--main-colour);
  border-radius: 2px;
}

marquee {
  width: 24rem;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.centre {
    text-align: center;
    margin: auto;
}

/* HEADER */

#header {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: var(--background-colour);
}

#sitename_wrapper {
  width: 20%;
  flex: 1;
}

#site_name {
  font-family: 'Robot';
  text-decoration: none;
  margin-left: 1.5rem;
}

#header_buttons_wrapper {
  align-content: center;
  flex: 1;
  margin: auto;
}

#header_buttons {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.header_button {
  width: 90px;
  font-family: 'Robot';
  font-size: 18px;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px outset buttonborder;
  border-radius: 3px;
  border-color: var(--main-colour);
  color: var(--main-colour);
  background-color: var(--background-colour);
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

#header_login {
  flex: 1;
  height: 100%;
  margin-top: 0.4rem;
  margin-left: auto;
  float: right;
  text-decoration: none;
}

#header_profile_wrapper {
  width: fit-content;
  margin-left: auto;
  float: right;
}

#header_profile {
  width: fit-content;
  margin-right: 1rem;
}

#header_profile_name {
  font-size: 12pt;
  margin: 0;
}

#header_profile_image {
  height: 50px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* HOME PAGE */

#next_cup_wrapper {
  width: 40%;
  background-color: var(--second-colour);
  border: 2px solid;
  border-color: var(--main-colour);
  border-radius: 0.2rem;
  vertical-align: middle;
  align-content: center;
  margin: auto;
  padding: 1rem;
}

#register_button {
  font-family: 'Robot';
  font-size: 18px;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px outset buttonborder;
  border-radius: 3px;
  border-color: var(--main-colour);
  color: var(--main-colour);
  background-color: var(--background-colour);
  text-decoration: none;
  align-content: center;
}

#current_cup_container {
  width: 40%;
  background-color: var(--second-colour);
  border: 2px solid;
  border-color: var(--main-colour);
  border-radius: 0.2rem;
  vertical-align: middle;
  align-content: center;
  margin: auto;
}

#open_cup_players_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.player_profile {
  margin: 1rem;
}

.profile_image {
  width: 184px;
}

#more_cups_container {
  width: 40%;
  height: 10rem;
  margin-top: 2rem;
  background-color: var(--second-colour);
  border: 2px solid;
  border-color: var(--main-colour);
  border-radius: 0.2rem;
  vertical-align: middle;
  align-content: center;
}

/* MATCH */

#match_wrapper {
  margin-top: 5rem;
}

#pre_match {
  width: 30%;
  margin-top:5rem;
  padding: 2rem;
  background-color: var(--second-colour);
  border: 2px solid;
  border-color: var(--main-colour);
  border-radius: 0.2rem;
  vertical-align: middle;
  align-content: center;
}

#check_in_button {
  font-family: 'Robot';
  font-size: 18px;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px outset buttonborder;
  border-radius: 3px;
  border-color: var(--main-colour);
  color: var(--main-colour);
  background-color: var(--background-colour);
  text-decoration: none;
  align-content: center;
}

#lobbyid {
  width: fit-content;
  margin: auto;
  background-color: var(--second-colour);
  padding: 1rem;
  border: solid 1px var(--main-colour);
}

#lobbyid_submit_button {
  font-family: 'Robot';
  font-size: 14px;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px outset buttonborder;
  border-radius: 3px;
  border-color: var(--main-colour);
  color: var(--main-colour);
  background-color: var(--background-colour);
  text-decoration: none;
  align-content: center;
}

/* CUPS */

#past_cups_container {
  display: flex;
  flex-direction: column;
}

/* Bracket */

.bracket_wrapper {
  border: 2px solid var(--main-colour);
  display: inline-grid;
  margin-top: 2rem;
  background-color: var(--second-colour);
  padding: 2rem;
  border-radius: 0.2rem;
}

.bracket {
  display: flex;
}

#bracket_winner_wrapper {
  display: inline-flex;
  height: auto;
  margin-left: 1rem;
}

#bracket_winner {
  height: fit-content;
  vertical-align: middle;
}

.playoff-table *{
    box-sizing: border-box;
  }
  .playoff-table {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    font-weight: 400;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--main-colour);
  }
  .playoff-table .playoff-table-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    padding: 20px;
  }
  .playoff-table .playoff-table-tour {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    position: relative;
  }
  .playoff-table .playoff-table-pair {
    position: relative;
  }
  .playoff-table .playoff-table-pair:before {
    content: '';
    position: absolute;
    top: 27px;
    right: -12px;
    width: 12px;
    height: 1px;
    background-color: var(--second-colour);
  }
  .playoff-table .playoff-table-pair:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 1000px;
    background-color: var(--main-colour);
    right: -12px;
    z-index: 1;
  }
  .playoff-table .playoff-table-pair:nth-child(even):after {
    top: 28px;
  }
  .playoff-table .playoff-table-pair:nth-child(odd):after {
    bottom: 28px;
  }
  .playoff-table .playoff-table-pair-style {
    border: 1px solid var(--second-colour);
    background-color: white;
    width: 160px;
    margin-bottom: 20px;
  }
  .playoff-table .playoff-table-group {
    padding-right: 11px;
    padding-left: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
  }
  .playoff-table .playoff-table-group .playoff-table-pair-style:last-child {
    margin-bottom: 0px;
  }
  .playoff-table .playoff-table-group:after {
    content: '';
    position: absolute;
    top: 28px;
    bottom: 29px;
    right: 0px;
    width: 1px;
    background-color: var(--second-colour);
  }
  .playoff-table .playoff-table-group:last-child {
    margin-bottom: 0;
  }
  .playoff-table .playoff-table-left-player,
  .playoff-table .playoff-table-right-player {
    min-height: 26px;
    padding: 3px 5px;
  }
  .playoff-table .playoff-table-left-player {
    border-bottom: 1px solid var(--second-colour);
  }
  .playoff-table .playoff-table-left-player:before {
    content: '';
    position: absolute;
    bottom: 27px;
    left: -12px;
    width: 12px;
    height: 1px;
    background-color: var(--second-colour);
  }
  .playoff-table .playoff-table-right-player {
    margin-top: -1px;
    border-top: 1px solid var(--second-colour);
  }
  .playoff-table .playoff-table-third-place {
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 100px;
  }
  .playoff-table .playoff-table-third-place .playoff-table-left-player:before {
    display: none;
  }
  .playoff-table .playoff-table-tour:first-child .playoff-table-group {
    padding-left: 0;
  }
  .playoff-table .playoff-table-tour:first-child .playoff-table-left-player:before {
    display: none;
  }
  .playoff-table .playoff-table-tour:last-child .playoff-table-group:after {
    display: none;
  }
  .playoff-table .playoff-table-tour:last-child .playoff-table-pair:after,
  .playoff-table .playoff-table-tour:last-child .playoff-table-pair:before {
    display: none;
  }
  /*# sourceMappingURL=playoff-table.css.map */

/* LOADING SPINNER */

.loader {
  border: 24px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 2.5s linear infinite;
}

@keyframes animloader {
      0% {
        border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
  }
      25% {
        border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
  }
      50% {
        border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
  }
      75% {
        border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
  }
}
